body{
    background: #384FC7;
    margin:0;
    padding:0;
}




#controls{
    display: grid;
    grid-template-columns: repeat(1,200px);
    grid-template-rows: repeat(1,100px);
}

#tracker{
    margin-top: 10px;
    background: #270C1A;
    height: 80vh;
    width: 100vw;
    display:grid;
    grid: 1fr / repeat(4,1fr);
}

.column{
    display:flex;
    
}

.off.column{
    background: #D8275A;
}

.note-row{
    width: 231px;
    height: 43px;
    grid-area: 'note';
    background: #771747;
}